<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        {% include '/components/headerBanner.html.twig' %}
        <div class="container">
            {% include '/components/navbar.html.twig' %}




        </div>
        {% include '/components/footerBanner.html.twig' %}
    </body>
</html>
