<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        {% include '/components/headerBanner.html.twig' %}
        <div class="container">
            {% include '/components/navbar.html.twig' %}


            <h1>{{ store.getStoreName }}</h1>
            <h2>{{ store.getStorePhone }}</h2>
            <h2>{{ store.getStoreAddress }}</h2>

            {% if brands is not empty %}
            <ul>
            {% for brand in brands %}
                    <li>{{ brand.getBrandName }}</li>
            {% endfor %}
            </ul>
            {% else %}
            <h1>No Brands Exist</h1>
            {% endif %}


        </div>
        {% include '/components/footerBanner.html.twig' %}
    </body>
</html>
