 /*helper classes*/
.blackText {
    color: black !important;
}

.whiteText {
    color: white !important;
}


/*begin ELEMENT styling*/
body, h1, h2 {
    font-family: 'Handlee', cursive;
    font: 2em;
}

footer {
    position: absolute;
    bottom: 0;
}

a {
    font-size: 20px;
}
/*end ELEMENT styling*/

.navbar,
.emphasis {
    font-size: 2em
}

input {
    color: black;
    font-size: 2em
}

/*begin HEADER BANNER*/
.header-banner {
    background-color: #00bc8c;
    display: block;
    text-align: center;
    padding: 1px;
    margin-bottom: 30px;
}
/*end HEADER BANNER*/
